*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue:#101820;
    --green:#1a7a4c;
}

/*General layout styles for elements*/
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--blue);
  }

body::-webkit-scrollbar {
    width: .7vw;
    z-index: 999;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: honeydew;
    outline: 1px solid slategrey;
  }

section{
    min-height: 100vh;
    color: var(--green);
    padding: 5em 0 3em 0;
    border-bottom: 2px groove var(--green);
}
.btn-nav{
    margin-top:1em;
}
.btn {
    display: inline-block;
    color: var(--green);
    background-color: var(--blue);
    border:3px solid honeydew;
    transition: 0.6s ease;
    padding: 1em 2em;
    margin:1em;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: var(--green);
}
/*Display flex column, responsive to row*/
.flex-c-r{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*Typography*/
h1{
    margin-bottom: 1.5em;
}
h1 span{
    color: honeydew;
    letter-spacing: 2px;
}

.flex-c-r h3{
    max-width: 45vw;
    margin:.7em 2.3em;
    text-align: justify;
}
.btn-nav h3{
    text-align: center;
    color: honeydew;
    font-size: 120;
}
/*Navigation style for main menu*/
.nav-branding{
    color: var(--blue);
    transition: 0.6s ease;
    font-size: 150%;
    font-weight: bolder;
}
.nav-branding:hover{
    color: #fff;
}
header li{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: var(--green);
    width: 99.2vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    position: fixed;
    border-bottom: 1px inset var(--blue);
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2em;
}

.home-link{
    font-weight: bolder;
    display: none;
}

.nav-link{
    font-weight: bolder;
    color: var(--blue);
    transition: 0.6s ease;
}

.nav-link:hover{
    color:honeydew; 
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 30px;
    height:4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: honeydew;
}


/*Styles for GREETING/landing page START*/
#greeting img{
    width:13em;
    height: 13em;
    border-radius: 50%;
    margin:0 0 1em 0;
}
#greeting h1{
    margin-bottom: 1em;
}
/*Styles for GREETING/landing page END*/

/*Styles for SKILLS section START*/
#skills h2{
    margin:1em 0;
}
#skills span{
    color:#ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills ul{
    color:#ffff;
    margin: 2em 0;
    list-style-type: square;
}
#skills li{
    font-size: 1em;
    line-height: 1.6;
}
.skillset-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    margin:2em .5em;
}
.skillset-container span {
    width:90px;
    height: 90px;
    background-color: #ffff;
    border-radius: 50%;
}
.languages span:nth-child(-n+3){
    background-color: var(--blue);
}
.tools span:nth-last-child(-n+2){
    background-color: var(--blue);
}
.skillset-container img {
    width:60px;
}
/*Styles for SKILLS section END*/


/*Styles for PROJECTS page START*/
.container{
    max-width: 80vw;
    margin:1em 0;
    display: flex;
    flex-direction: column;
    gap:3em;
}
.project-display{
    background-color: var(--green);
    color: var(--blue);
    display: flex;
    flex-direction: column;
    gap:1em;
    border-radius:7px 7px 0 0;
}
span.project-title h2{
    padding:.5em;
}
.project-display img{
    width: 100%;
}
.project-info h3{
    padding: 0 .5em;
    margin: 0;
}
.project-info span{
    font-size: 80%;
}
a.project-link{
    display: block;
    text-align: center;
    font-size: 120%;
    font-weight: bolder;
    padding:1em .7em;
    border: 3px solid honeydew;
    background-color: var(--blue);
    color: var(--green);
    transition: .3s ease;
    cursor: pointer;
}
a.project-link:hover{
    border: 3px solid var(--green);
    color: honeydew;
}
/*Styles for PROJECTS section END*/


/*Styles for CONTACT section START*/
section#contact{
    min-height: 40vh;
}
#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px groove var(--green);
    border-radius: 7px;
    background-color: rgb(121, 120, 120, 0.2);
    padding:2em 4em;
    margin:2em 1em;
}
form{
    height: 45vh;
    width:60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1em;
}
input{
    border: 2px groove var(--green);
    color:var(--green);
    padding:.7em;
    font-size: 120%;
}
textarea{
    border: 2px groove var(--green);
    height:50%;
    resize: none;
    padding:.7em;
    font-size: 130%;
}
form .btn{
    margin:0;
}

@media(min-width:1300px){
    section{
        padding: 6em 0 3em 0; 
    }
}

@media(min-width:1600px){
    body{
        font-size: 20px;
    }
    section{
        padding: 7em 0 3em 0; 
    }
    #greeting img{
        width:15em;
        height: 15em;
    }
}

@media(min-width:2000px){
    body{
        font-size: 30px;
    }
    #greeting img{
        width:15em;
        height: 15em;
    }
}

/*Navigation style for responsive main menu*/
@media(max-width:768px){
    .hamburger{
        display: block;
        position: absolute;
        right:1.2em;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right:-100%;
        bottom:0;
        gap:1em;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        background-color: var(--blue);
        width:100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        opacity:0.95;
        padding-top:30vh;
    }
    
    .home-link{
        display: block;
    }

    .nav-link{
        width:25%;
        color: honeydew;
        margin:10px 2em;
        font-size: 130%;
        border-bottom:2px groove var(--green);
    }
    
    .nav-link:active{
        color: var(--green);
    }

    .nav-menu.active{
        right:0;
    }

    .flex-c-r h3{
        max-width: 80vw;
    }

    #contact-form{
        width:90vw;
        margin:2em .5em;
        padding:1.5em .6em;
    }
}
 
@media(max-width:420px){
    section{
        padding:4em 1em 2em 1em;
        
    }
    #greeting h1{
        margin-top: 1.3em;
    }
    .flex-c-r h3{
        max-width: 90vw;
        margin:1em 1em;
    }
    .project-info h3{
        margin:0;
    }
    .skillset-container{
        margin:2em 1em;
    }
    .btn {
        padding: 1em 1.3em;
        margin:1em;
        font-size: 1em;
    }
}
  